
@media (max-width: 768px) {
  #about-page main h1 { 
    font-size: 3.2rem; 
    padding: 0 2rem;
  }

  #about-page main p{
    padding: 0 2rem;
    font-size: 1rem;
    line-height: 2.3rem;
  }

  #about-page main p:first-child::first-letter{
    font-size: 4.2rem;
    line-height: 3.8rem;
    margin-top: 0.2rem;
  }
}

@media (max-width: 500px) {
  .footer-container p {
    font-size: 0.7rem;
  }

  /* Home */

  #home-page main h1 { 
    font-size: 2.6rem; 
    padding: 2rem 2rem;
  }

  #home-page main p {
    padding: 0 2rem;
    font-size: 0.9rem;
    line-height: 1.9rem;
  }

  #home-page .learn-more {
    font-size: 0.7rem;
   }

 /* About Me */

  #about-page main h1 { 
    font-size: 3.2rem; 
    padding: 2rem 2rem;
  }

  #about-page main p{
    padding: 0 2rem;
    font-size: 0.8rem;
    line-height: 1.9rem;
  }

  #about-page main p:first-child::first-letter{
    font-size: 4rem;
    line-height: 3.8rem;
    margin-top: -0.07rem;
  }

 /* Contact */

  #contact-page main h1 { 
    font-size: 2.5rem; 
    padding: 2rem 2rem;
  }

  #contact-page main p{
    padding: 0 2rem;
    font-size: 0.8rem;
    line-height: 1.9rem;
  }

  /* Projects */

  #projects-page main h1 { 
    font-size: 2.7rem; 
  
  }
}

